<ion-content class="ion-padding ion-text-center">
  <div class="container">

    <img src="assets/welcome.png" />
    <div class="page-header">
      <h1>Book taxi, scooter or a bike within seconds</h1>
      <h3>The fastest app to book a taxi, scooter, or a bike online near by you</h3>
    </div>

   <!--  <div class="button-container">
      <button class="btn" routerLink="/register" routerDirection="forward">Give me a ride</button>
    </div> -->
    <ion-row>
      <ion-col size="12">
        <ion-button shape="round" routerLink="/register" color="mapinoo" size="medium" type="submit">
          Give me a ride
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
