.profil-div{
  background-color: rgb(241, 53, 53);
  height: 200px;
  border-radius: 7%;
  margin:2%;
  text-align: center;
  color:#fff;
  padding: 3%;
}

h1{
  text-align: center;
  font-size: 30px;
}

.color-button{
  //background-color: white;
  color:black
}

.info-person{
  margin:2%;
}

ion-icon{
  background-color: rgb(247, 240, 240) ;
}

ion-item{
  padding-top: 20px;
  padding-left: 5px;
}

.btn{
  display: inline-block;
  font-size: 18px;
  padding: 18px 40px;
  background: #fff;
  color:#000;
  border-radius: 40px;
  border: none;
  outline: none;
  position: relative;
}
