<ion-content class="ion-padding ion-text-center">
  <h5>Jean Paul</h5>
  <div class="profil-div">
    <h4>You won 300 points</h4>
    <p>Thanks for reding with yoo won 300 point from last ride</p>
    <button class="btn">last ride</button>
  </div>
  <div class="info-person">
    <ion-list>
      <ion-item lines="none" routerLink="">
        <ion-icon color="danger" slot="start" name="person-outline"></ion-icon>
        <ion-label>Profile Info</ion-label>
      </ion-item>
      <ion-item lines="none" routerLink="">
        <ion-icon color="danger" slot="start" name="card-outline"></ion-icon>
        <ion-label>Cards</ion-label>
      </ion-item>
      <ion-item lines="none" routerLink="">
        <ion-icon color="danger" slot="start" name="settings-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>
      <ion-item lines="none" routerLink="">
        <ion-icon color="danger" slot="start" name="chevron-down-circle-outline"></ion-icon>
        <ion-label>Activities</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
